<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cars</title>
</head>

<body>
    <%- include('./partials/header.ejs')%>
    <div class="row m-0">
        <div class="col-8 offset-2">
            <% if(car && car.length !==0) { %>
                <% car.forEach(car=> { %>
                    <div class="col-sm-11  col-md-3">
                        <div class="card">
                            <div class="card-header">
                                <h4>
                                    <%= car.model %>
                                </h4>
                            </div>
                            <div class="card-body">
                                <% if(isAdmin) { %>
                                    <label class="small text-secondary mt-3" for="model">Model: </label>
                                    <input type="text" class="form-control" id="model" value="<%= car.model %>"
                                        placeholder="Update model">
                                    <label class="small text-secondary" for="desc">Description: </label>
                                    <textarea id="desc" cols="30" rows="2" class="form-control"
                                        placeholder="Update description"><%= car.description %></textarea>
                                    <label class="small text-secondary mt-3" for="brand">Brand: </label>
                                    <input type="text" class="form-control" value="<%= car.brand %>" id="brand"
                                        placeholder="Update brand">
                                    <label class="small text-secondary mt-3" for="price">price: </label>
                                    <input type="number" class="form-control" value="<%= car.price %>" id="price"
                                        placeholder="Update price">
                                    <!-- <%= car.description %> -->
                                    <% } else { %>
                                        <div>
                                            <p class="fw-bold">Description: </p>
                                            <%= car.description %>
                                        </div>
                                        <div class="mt-3">
                                            <p class="fw-bold">Brand: </p>
                                            <%= car.brand %>
                                        </div>
                                        <div class="mt-3">
                                            <p class="fw-bold">Price: </p>
                                            <%= car.price %>
                                        </div>
                                        <% } %>
                            </div>
                            <div class="card-footer">
                                <button class="btn btn-outline-primary" onclick="">view</button>
                                <button class="btn btn-outline-danger" onclick="">delete</button>
                            </div>
                        </div>
                    </div>
                    <% }) %>
                        <% } else { %>
                            <h1>there is no car</h1>
                            <% } %>
        </div>
    </div>

</body>

</html>